.circletext{
    color: #DCCA87;
    text-align: center;
    font-size: 20px;
    width: 200px;
}
.Spoon1{
    position: absolute;
    width: 70px;
    top:-20px;
    left: 65px;
}
.Spoon2{
    position: absolute;
    width: 70px;
    top:-20px;
    left:65px;
}
span{
    display: inline-block;
    width: 25px;
    position: absolute;
    transform: translate(-12.5px,0px)rotate(var(--rot)) translate(0,-80px)
}