.wrapper__exploremenu{
    height: 828px;
    position: relative;
    margin-bottom:147px ;
}
.exploremenu__textandpic{
    position: absolute;
    left: 190px;
    bottom: 92px;
    width: 1300px;
    height: 736px;
}
.exploremenu__text{
    position: absolute;
    top: 127.5px;
    width: 453px;
    height: 481px;
}
.exploremenu__pic{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 667px;
    height: 736px;
}
.Cubeunderpic1{
    margin: 0px;
    position: absolute;
    width: 435px;
    height: 435px;
    right: 0px;
    top: 0px;
    background: #DCCA87;
}
.Cubeunderpic2{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 0px;
    bottom: 0px;
    background: #DCCA87;
}
.Egg_pic{
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.text__header{
    margin: 0px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.text__img{
    margin:8px 0px ;
}
.text__H1{
    width: 455px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 117px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
    margin: 0px;
}
.text__info{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}
.text__exploremenubtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    width: 157px;
    height: 44px;
    background: #DCCA87;
    position: absolute;
    bottom: 0px;
    color: #0C0B08;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height:28px;
    letter-spacing: 0.04em;
    padding: 0px;
}
.textonleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 32px;
    height: 161px;
    left: 0px;
    top: 300px;
}
.Bar,.Gericht{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    transform: rotate(-90deg);
}
.num{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 116px;
    height: 28px;
    bottom: 0px;
    left: 782px;
}
.num__number{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #F5EFDB;
}
.num__bord{
    width: 16px;
    height: 0px;
    border: 1px solid #DCCA87;
}
.srlandbord{
    color: #DCCA87;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 61px;
    height: 70px;
    bottom: 0px;
    right: 0px;
    
}
.bord{
    border-bottom: #DCCA87 1px solid;
    width: 61px;
    height: 0px;
    transform: rotate(-90deg);
}