.gerichtupdates{
    position: relative;
    width: 1300px;
    height: 1084px;
    margin: 0px  auto 152px;
}
.block__img{
    border: #DCCA87 1px solid;
}
.gerichtupdates__text__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 431px;
    height: 138px;
    margin: 0px auto;
}
.text__top__p{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin: 0px;
}
.text__top__img{
    margin: 0px 8px;
}
.text__top__h2{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height:  83px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    margin: 0px;
}
.gerichtupdates__btn{
    position: absolute;
    bottom: 0px;
    left: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    
    width: 136px;
    height: 44px;
    background: #DCCA87;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #0C0C0C;
    padding: 0px;
    
}
.gerichtupdates__photoswithtext{
    position: absolute;
    top: 202px;
    left: 0px;
    width: 1300px;
    height: 774px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

}
.photoswithtext__block{
    position: relative;
    width: 412px;
    height: 774px;
    
}
.photoswithtext__text{
    position: relative;
    padding: 0px;
    margin-top: 24px;
    width: 412px;
    height: 320px;
    
}
.text__dateandname{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 222px;
    width: 412px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FAFAFA;
    
}
.gerichtupdates__text__title{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 412px;
    height: 84px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    margin:0px ;
}
.text__description{
    position: absolute;
    top: 176px;
    left: 0px;
    width: 412px;
    height:16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}
.text__readmore{
    width: 73px;
    height: 28px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height:28px;
    letter-spacing: 0.04em;
    color: #DCCA87;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.circletext.OurLaurels{
    position: absolute;
    right: 50px;
    top: 9948px;
}