.video{
    position: relative;
}
.video__bg{
    width: 1680px;
    opacity: 0.4;
}
.circletext.video{
    position: absolute;
    top: 190px;
    left: 120px;
}
.video__playbtn{
    box-sizing: border-box;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 320px;
    left: 780px;
    border: 1px solid #DCCA87;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
    
}
.playbtn__triangle{
    position: absolute;
    display: inline-block;
	border: 15px solid transparent ; 
	border-left: 20px solid  #FFFFFF;
    top:45px;
    left: 50px;
    margin: 0px;
}